$primary-color: #32c267;

// # forest palette
$light: #dad7cd;
$green1: #a3b18a;
$green2: #588157;
$green3: #3a5a40;
$green4: #344e41;

// # international orange
$international-orange-aerospace: #ff4f00;
$international-orange-aerospace-rgb: rgb(255, 79, 0);
$international-orange-aerospace-websafe: #ff6600;
